

<body>
  <div class="row">
    <div class="nav nav-pills col-md-3 ">
      <nav>
        <ul class="col-md-2 m-2 p-5">
          <li class="m-3 p-1 ">
            <button class="nav-item nav-link bg-dark p-4" routerLink="addfeedback" routerLinkActive="active"
              style="color:white;">Give Feedback</button>
          </li>
          <li class="m-3">
            <button class="nav-item nav-link bg-dark  p-4" routerLink="viewfeedback" routerLinkActive="active"
              style="color:white;">Feedbacks of Operator</button>
          </li>
          <li class="m-3">
            <button class="nav-item nav-link bg-dark p-4" routerLink="viewfeedback2" routerLinkActive="active"
              style="color:white;">Feedbacks of Bus Route</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  
<router-outlet></router-outlet>
  
</body>
