<div class="card">
    <h4 class="card-header row justify-content-center">Login</h4>
    <div class="card-body row justify-content-center">
        <form #frm="ngForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="admin.adminUsername" #username="ngModel" class="form-control" required/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="admin.password" #password="ngModel" class="form-control" required />
            </div>
            <div class="form-group">
                <button [disabled]="!frm.valid" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
<router-outlet></router-outlet>