
<body>
    <header>
        <div class="nav nav-pills">
            <nav  class="col-md-12 row p-3" style="background-color: #7f5a83;
            background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
            ">    
              <a class="nav-item nav-link " routerLink="addbus" routerLinkActive="active"  style="color:white;">Add Bus</a>
              <a class="nav-item nav-link " routerLink="addbusroute" routerLinkActive="active"  style="color:white;">Add Bus Route</a>
              <a class="nav-item nav-link " routerLink="getrevenuebyroutename" routerLinkActive="active"  style="color:white;">Revenue</a>
              <div class="d-flex row justify-content-end">
                <a class="nav-item nav-link " routerLink="updatepassword" routerLinkActive="active"  style="color:white;">Update Password</a>
                <a class="nav-item nav-link " routerLink="/home" routerLinkActive="active"  style="color:white;">Log out</a>
              </div>
          </nav>
      </div>
     </header>    
  </body>
  <router-outlet></router-outlet>
