<html>
    

<body>
    
    <div class="container">
        <h2 class="m-4 p-4 bg-light">Booking Successfully Done</h2>
        <div class="card" style="width:400px">
          <div class="card-body m-3 p-3">
            <img class="card-img-bottom" src="https://image.shutterstock.com/image-vector/congratulations-banner-confetti-fun-style-260nw-766781656.jpg" alt="Card image" style="width:100%">
            <p class="text-right m-3 p-2">-Safe Journey</p>
            <a href="#" class="btn btn-primary btn-lg float-right">Take Print</a>
          </div>
          </div>
          <br>
          <br>
          <br>
      </div>

</body>



</html>