<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Montaga' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
  <header>
      <div class="nav nav-pills">
          <nav  class="col-md-12 row p-3" style="background-color: #7f5a83;
          background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
          ">    
            <a class="nav-item nav-link " routerLink="getallusers" routerLinkActive="active"  style="color:white;">Users</a>
            <a class="nav-item nav-link " routerLink="getalloperators" routerLinkActive="active"  style="color:white;">Operators</a>
            <a class="nav-item nav-link " routerLink="getallbookings" routerLinkActive="active"  style="color:white;">Bookings</a>
            <a class="nav-item nav-link " routerLink="getrevenue" routerLinkActive="active"  style="color:white;">Revenue</a>
            <a class="nav-item nav-link " routerLink="updatebusroute" routerLinkActive="active"  style="color:white;">Update Bus Route</a>
            <a class="nav-item nav-link " routerLink="/home" routerLinkActive="active"  style="color:white;">Log out</a>
            
        </nav>
    </div>
   </header>    
</body>
<router-outlet></router-outlet> 
</html>

