<div class="card">
  <h4 class="card-header row justify-content-center">Operator Register</h4>
  <div class="card-body row justify-content-center">
      <form #frm="ngForm" (ngSubmit)="addOperator()" >
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" [(ngModel)]="operator.busOperatorUsername" #username="ngModel" class="form-control" required/>
          </div>
          <div [hidden]="username.valid || username.pristine">
            <div class="alert alert-danger" [hidden]="!username.hasError('required')">not empty</div>
           </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="operator.password" #password="ngModel" class="form-control" required />
          </div>
          <div [hidden]="password.valid || password.pristine">
            <div class="alert alert-danger" [hidden]="!password.hasError('required')">not empty</div>
           </div>
          <div class="form-group">
              <button [disabled]="!frm.valid" class="btn btn-primary">Register</button>
          </div>
      </form>
  </div>
</div>
<router-outlet></router-outlet>
